/*
 * index.css
 */
 @import url('https://fonts.googleapis.com/css?family=Stylish&display=swap');

.wrapper {
    color: white;
}

.carousel-item img {
    /* min-width: 1200px; */
    /* min-height: 768px; */
    max-height: 100vh;
}

.content-bottom {
    font-family: 'Stylish', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.content-bottom-elem {
    font-family: 'Stylish', sans-serif;
    padding: 40px 0px;
}

.content-bottom-elem p {
    font-family: 'Stylish', sans-serif;
    margin: 0px;
    margin-bottom: 10px;
}

.content-bottom-elem .p-head {
    color: black;
    font-size: 1.4em;
    font-weight: 600;
}

.content-bottom-elem .p-body {
    font-family: 'Stylish', sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.content-bottom hr {
    background-color: black;
    width: 45%;
}

#sidebar {
    text-align: end;
}

#sidebar .sidebar-header {
    padding: 20px 0px;
    text-align: right;
}

#main-ln-wardrobe .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: unset;;
    left: 20px;
    transform: translateY(-50%);
}

.content-main {
    min-height: 0px;
}

.carousel-caption {
    position: absolute;
    left: unset;
    right: 15%;
    bottom: 20%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: justify;
    width: 23%;
    font-family: 'Stylish', cursive;
}

.carousel-caption div {
    width: 100%
}

.carousel-caption p {
    font-size: 0.9em;
    font-weight: 900;
    font-family: 'Stylish', cursive;
}


@media (min-width: 768px) {
    
}
