<!-- character window -->
<!-- test code -->
<!--
<div id="id-div-char-win" ondrop="itemDrop(event)" ondragover="itemDragOver(event)">
  <div id="id-div-char-head" class="char-slot" draggable="true" ondragstart="itemDragStart(event)"></div>
</div>
-->
{% load static %}

<div id="id-div-char-win" class="coord-win main mb-3">
  <div class="coord-part coord-part-main clickable blank" id="id-coord-head" value="모자">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/head-f.png'%}" alt="머리"/>
  </div>
  <div class="coord-part coord-part-main coord-part-top clickable blank" id="id-coord-top1" value="상의">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/top1-f.png'%}" alt="상의 I"/>
  </div>
  <div class="coord-part coord-part-sub coord-part-top clickable blank" id="id-coord-top2" value="상의">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/top2-f.png'%}" alt="상의 II"/>
  </div>
  <div class="coord-part coord-part-main coord-part-bottom clickable blank" id="id-coord-bottom1" value="하의">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/bottom1-f.png'%}" alt="하의 I"/>
  </div>
  <div class="coord-part coord-part-sub coord-part-bottom clickable blank" id="id-coord-bottom2" value="하의">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/bottom2-f.png'%}" alt="하의 II"/>
  </div>
  <div class="coord-part coord-part-main clickable blank" id="id-coord-foot1" value="신발">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/foot1-f.png'%}" alt="신발"/>
  </div>
  <div class="coord-part coord-part-side clickable blank" id="id-coord-foot2" value="양말">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/foot2-f.png'%}" alt="양말"/>
  </div>

  <div class="coord-part coord-part-side coord-part-acc clickable blank" id="id-coord-acc1" value="액세서리">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/acc1-f.png'%}" alt="액세서리1"/>
  </div>

  <div class="coord-part coord-part-side coord-part-acc clickable blank" id="id-coord-acc2" value="액세서리">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/acc2-f.png'%}" alt="액세서리2"/>
  </div>

  <div class="coord-part coord-part-side coord-part-acc clickable blank" id="id-coord-acc3" value="액세서리">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/acc3-f.svg'%}" alt="액세서리3"/>
  </div>
  
  <div class="coord-part coord-part-side coord-part-acc clickable blank" id="id-coord-acc4" value="가방">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/acc4-f.png'%}" alt="가방"/>
  </div>

  <div class="coord-part coord-part-side coord-part-acc clickable blank" id="id-coord-acc5" value="액세서리">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/acc5-f.png'%}" alt="액세서리5"/>
  </div>

  <div class="coord-part coord-part-side coord-part-acc clickable blank" id="id-coord-acc6" value="액세서리">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/acc6-f.png'%}" alt="액세서리6"/>
  </div>

  <div class="coord-part coord-part-outer clickable blank" id="id-coord-outer" value="아우터">
    <div class="del"><i class="fas fa-times"></i></div>
    <div class="add"><i class="fas fa-plus-circle"></i></div>
    <img class="coord-img" src="{% static 'hipdrobe/img/clothes-icon/outer-f.png'%}" alt="아우터"/>
  </div>
  <div class="cls-icon-author">
    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons" target="_blank">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a></div>
  </div>
</div>

<div id="id-div-coord-win" class="coord-win coord-post main mb-3">
  <div class="btn-group" role="group" aria-label="배경 선택">
    <button type="button" class="btn btn-outline-danger btn-sm active" imgtype="white">없음</button>
    <button type="button" class="btn btn-outline-success btn-sm" imgtype="spring">봄</button>
    <button type="button" class="btn btn-outline-primary btn-sm" imgtype="summer">여름</button>
    <button type="button" class="btn btn-outline-warning btn-sm" imgtype="autumn">가을</button>
    <button type="button" class="btn btn-outline-secondary btn-sm" imgtype="winter">겨울</button>
    <button type="button" class="btn btn-outline-dark btn-sm" imgtype="inside">실내1</button>
  </div>
  <ul>
    <li id="id-btn-minus"><img src="{% static 'hipdrobe/img/minus.svg'%}" alt="축소"></li>
    <li id="id-btn-plus"><img src="{% static 'hipdrobe/img/plus.svg'%}" alt="확대"></li>
    <li id="id-btn-down"><img src="{% static 'hipdrobe/img/down-arrow.svg'%}" alt="아래로"></li>
    <li id="id-btn-up"><img src="{% static 'hipdrobe/img/up-arrow.svg'%}" alt="위로"></li>
  </ul>
  <div class="save-group">
    <button type="button" class="btn btn-primary btn-sm" onclick="openPostModal(event, true, true)" disabled>데일리룩 저장</button>
    <button type="button" class="btn btn-success btn-sm" onclick="openPostModal(event, false, true)" disabled>코디 저장</button>
  </div>
</div>

{% include 'hipdrobe/include/_post_modal.html' %}
