<!-- wardrobe link & weather -->
<div class="container-fluid content-head ctnt-center">
    <ul>
      <li id="ln-items">
        <a href="{% url 'hipdrobe:items' %}">내 옷장 보기</a>
      </li>
      <li>|</li>
      <li id="ln-coordi">
        <a href="{% url 'hipdrobe:coordi' %}">코디 작성</a>
      </li>
      <li>|</li>
      <li id="ln-stat">
        <a href="{% url 'hipdrobe:stat' %}">힙-스탯</a>
      </li>
      <li>|</li>
      <li>
        <a href="#">방명록</a>
      </li>
      <li>|</li>
      <li>
        <a href="#">거래</a>
      </li>
    </ul>
    <hr>
</div>